.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .forward-container {
    display: flex;
    align-items: center;
    max-width: 800px;
  }
  
  .forward-container img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10%;
    margin-right: 20px;
  }
  
  .content-container {
    position: relative;
    padding: 20px;
    background-color: var(--nav-bg-ff);
    border-radius: 10px;
  }
  
  .content-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--nav-bg-ff);
    z-index: -1;
    border-radius: 10px;
  }
  
  .content-container h1 {
    font-size: var(--font-xxl);
    margin: 0 0 10px 0;
  }
  
  .content-container h3 {
    font-size: var(--font-l);
    margin: 0 0 20px 0;
  }
  
  .btn {
    font-size: var(--font-l);
    padding: 10px 20px;
    border-radius: 20px; /* More rounded corners */
    border: 2px solid var(--link-hover-color);
    text-decoration: none;
    background-color: var(--button-bg);
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    margin-right: 10px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-transform: uppercase; /* Uppercase text for energy */
    letter-spacing: 1px; /* Spread out letters */
  }
  
  .btn:hover {
    background-color: var(--link-hover-color);
    color: white;
    transform: translateY(-3px); /* Slight lift on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  }
  
  .btn:active {
    transform: translateY(1px); /* Pressed effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

