{% extends 'main_app/base.html' %}
{% block content %}
<section>
  <h1>Forward Blog Creator</h1>
  <img src="https://i.postimg.cc/xdwksQSH/IMG-8128.jpg" alt="creator image">
  <h2> Welcome! I'm Manuel Orellana </h2>
  <h3>But you can call me Manny</h3>
        <p> I am Manuel Orellana, a licensed Civil Engineer in the state of California with over 25 years of experience in the field.
            I graduated from California State University – Los Angeles with a Bachelor of Science Degree in Civil Engineering.<br><br>
            Currently, I work for a public agency where I manage the production of Plans, Estimates, and Specifications for transportation infrastructure projects. Throughout my career,
            I have successfully completed numerous multimillion-dollar projects across the greater Los Angeles area.<br><br>
            My passion lies in efficiency and resource preservation. My experience as an engineer has taught me the importance of maximizing the use of money and resources,
            as well as preparing for unexpected events. I firmly believe that anyone with a regular income can achieve financial stability by making the right decisions and developing good habits.
            In my view, becoming financially secure is as simple as fostering good money habits and maintaining a healthy relationship with money.<br><br>
            I am a family man, blessed with two daughters. My wife and I have been married for 34 years, and we reside in Santa Clarita, California.
        </p>    
 </section>


 {% endblock %}