{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://i.postimg.cc/FK8npNV0/F-2.png" />
    <title>Forward</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head%}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header-logo-container">
            <a href="/">
                <img class="logo-image" src="https://i.postimg.cc/FK8npNV0/F-2.png" alt="Logo" />
              </a>
        </div>
        <nav>
            <ul>
              <li><a href="{% url 'post-index' %}">Blog</a></li>
              <li><a href="{% url 'post-create% }">New Post</a></li>
              <li><a href="{% url  'about' %}">About</a></li>

            </ul>
          </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>