{% extends 'main_app/base.html' %} 

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %} 

{% block content %}
<section class="bookreview-container">
    <div class="bookreview-img">
      <img src="" alt="" />
    </div>
    <div class="bookreview-details">
      <h1>{{ book.title }}</h1>
      <p>{{ book.description }}</p>
       {% if book.date_published %}
        <p>Published: {{ book.date_published|date:"F d, Y H:i" }}</p>
      {% endif %}
      <p>Last edited: {{ book.date_edited|date:"F d, Y H:i" }}</p>
      
      <div class="book-actions">
        <a href="{% url 'book-update' book.id %}" class="btnactivity">Edit</a>
        <a href="{% url 'book-delete' book.id %}" class="btnactivity">Delete</a>
      </div>
    </div>
  </section>
  {% endblock %}
  