{% extends 'main_app/base.html' %}
{% block content %}
<section class="card-container">
  {% if books %}
    {% for book in books %}
      <div class="card">
        <a href="{% url 'book-detail' book.id %}">
          <div class="card-content">
            <div class="card-img-container">
              <img
                src=""
                alt=""
              />
            </div>
            <h2 class="card-title">{{ book.title }}</h2>
            <p><small>{{ book.description }}</small></p>
          </div>
        </a>
      </div>
      {% endfor %}
      {% else %}
        <p>Book review comming soon....</p>
      {% endif %}
  </section>
  
  {% endblock %}

