{% extends 'main_app/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}

<section class="login-container">
    <form action="{% url 'login' %}" method="post" class="'login">
        <h1>Login</h1>
        {% csrf_token %}
        {{ form.as_p }}

        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn">Login</button>
    </form>
    
</section>
{% endblock %}