{% extends 'main_app/base.html' %} 
{% block content %}
<section class="post-container">
    <div class="post-img">
      <img src="" alt="" />
    </div>
    <div class="post-details">
      <h1>{{ post.title }}</h1>
      <p>{{ post.description }}</p>
       {% if post.date_published %}
        <p>Published: {{ post.date_published|date:"F d, Y H:i" }}</p>
      {% endif %}
      <p>Last edited: {{ post.date_edited|date:"F d, Y H:i" }}</p>
      <div class="post-actions">
        <a href="{% url 'post-update' post.id %}" class="btn">Edit</a>
        <a href="{% url 'post-delete' post.id %}" class="btn">Delete</a>
      </div>
    </div>
  </section>
  {% endblock %}
  